*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--main-color);
    color: var(--color);
}

a {
    opacity: 0.8;
    margin: 0 0 0 5px;
    color: var(--color);
}

body {
    font-family: helvetica;
    background: var(--bg-color);
    color: var(--color);
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.copy {
    opacity: 0.8;
}
