.content {
    height: 100%;
    width: 100%;
    padding: 20px;

    @include fb( column, space-between );
}

.title {
    @include fb( row, center );

    img {
        margin-right: 10px;
    }
}

.info {
    width: 100%;
    margin: 20px 10px;
    height: inherit;
    background: var(--bg-color-2);
    border-radius: var(--radius);
    padding: 20px;
}

.info-container {
    display: flex;
    width: 100%;
    background: var(--bg-color-3);
    border-radius: var(--radius);
    padding: 10px 20px;
    margin: 5px 0;

    @include fb( row, space-between );
}
