# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# For project directories

# Set final line
insert_final_newline = true

# Set default charset
[src/**,web/**,ext/**]
charset = utf-8

# Indentation override
[src/**,web/**,ext/**]
indent_style = tab
indent_size = 4